# Sublime Text
*.sublime-project
*.sublime-workspace

# Vagrant
.vagrant

# Environment specific configs and sensitive keys
*.pem
dev_config.yml
provision/custom.sh
share/

# Ansible
provision/roles
site.retry
